.list{
    position:relative;
    top:90px;
}
.favicons{
    background: url('panier.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.slogan{
    width: 100%;
    height: 490px;
    background: url(arton4980.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 65px;
}
.offerSlogan {
    position: relative;
    max-width: 1000px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 150px;
    font-family: 'Times New Roman', Times, serif;
}
.offerSlogan .provide {
    font-size: 70px;
    color: #333;
    font-weight: 200;
    text-transform: capitalize;
}
.offerSlogan .quality {
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
}
.descript {
    text-transform: capitalize;
    position: relative;
    width: 100%;
    padding: 19.5px 0px;
    text-align: center;
    background: rgb(0, 140, 255);
}
.whiteLorem {
    color: #ffffff;
}
.Mini-menu{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.options{
    width: 320px;
    height: 250px;
    position: relative;
    margin: 20px 15px;
    border: solid 1px rgba(184, 174, 174, 0.849);
    border-radius: 0.5mm;
    box-shadow: 0.5px 0.5px 3px rgba(136, 132, 132, 0.699);
    text-align: center;
    color: #333;
    transition: all 0.3s ease-in-out; text-decoration: none;
   
}
.options:hover {
    border: 1px solid rgb(2, 162, 255);
    box-shadow: 0.5px 0.5px 4px rgb(2, 162, 255);
}
.options p {
    position: relative;
    margin-top: 5px;
}
.options h4 {
    position: relative;
    margin-top: 75px;
    font-size: 22px;
    color: rgb(39, 37, 37);
}

