body{
/*    max-width: 1300px;
    margin: auto;
*/
background:radial-gradient(rgba(68, 90, 109, 0.425),rgba(67, 84, 121, 0.226)) ;
}

html{
max-width:1321px;
margin:0 auto;
}
.MONETIQUES{
    margin-top: 90px;
    margin-bottom:0px ;
    text-align: center;
    width: 100%;
    color: rgb(8, 97, 97);
    font-size: 29px;
    letter-spacing: 2px;
    font-family: fantasy;
}
.seconde_classe .ulSeconde li{
transition:400ms ease-in-out;
}
.seconde_classe .ulSeconde li:hover{
    transform: translateY(-10px);
}
.sliders {
 /*   font-family:'poppins', sans-serif ;
    line-height: 75px;*/
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: rgb(189, 170, 170) solid 1px;
}
.slide{
float: right;
height: 400px;
width:1423px;
display: flex;
} 
.slider{
    width: 4269px;
    animation: coulisse 60s infinite;
}
.cartes{ 
    margin-right:auto;
    margin-left: auto;
    position: relative;
    left:00px;
    width: 40%;
}
.slide_3 {
    background-image: url('bground10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.slide_2 {
    background-image: url('bground10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_1 {
    background-image: url('bground10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide_3 h3 {
    position: relative;
    top:20px;
    left:50px ;
}
.slide_2 h3 {
    position: relative;
    top:20px;
    left: 50px;
}
.slide_1 h3 {
    position: relative;
    top: 20px;
    left: 50px;
}
.HP{
    font-weight: bold;
    font-size:70px;
    color: white;
}
.Phantom{
    font-weight:bold;
    font-size: 70px;
    color: rgb(13, 82, 233);
    
}
.Mades{
    font-size: 85px;
    color: rgba(253, 9, 9, 0.986);
    font-weight: 400;
}
.Tech{
    font-size: 85px;
    color: rgb(243, 16, 8);
    font-weight: 400;
}
@keyframes coulisse {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-1423px);
    }
    43%{
        transform: translateX(-1423px);
    }
    66%{
        transform: translateX(-2846px);
    }
    76%{
        transform: translateX(-2846px);
    }
    100%{
        transform: translateX(0);
    }
}


.Special_Offers h2{
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(12, 240, 171);
    font-weight: bold;
    margin-bottom: -15px;


}
.grand_titre {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    background-color:none;
}
.grand_titre .listTitle {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    flex-wrap: wrap;
}
.grand_titre .listTitle a {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12.5px;
    margin: 5px 12px;
    padding: 5px 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #1a1a1a;
    cursor: pointer;
    background: rgb(219, 235, 240);
    transition: all 0.3s ease-in-out;
    width: 220px;
    display: flex;
}
.grand_titre .listTitle img {
    width:45px;
}
.grand_titre .listTitle a:hover {
    background: rgb(186, 225, 243);
    outline-color: white;
}
.listTitle p {
    margin-top: -15px;
    color: #000;
}

#soutesText {
    margin-top: -5px;
}
.grand_titre .listTitle a p{
    margin-top: -21px;
}
.grand_titre .listTitle a h2{
    color: rgb(11, 31, 211);
    margin: auto auto;
}
.p{
    text-transform: none;
    text-decoration: none;
    color:black;
    font-weight: 200;
    font-size: 13px;
}
.grand_img {
    position: relative;
    width: 100%;
    height:525px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;


}
.grand_img .img_comment {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: -30px;
    margin-bottom: 80px;
    border: rgba(60, 121, 145, 0.726) solid 0.7px;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.too1{
    background: url('bg4.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    width: 48%;
    position: relative;
    left: -14px;
    height: 525px;
}

.too2{
    background: url('bg3.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    top: 25px;
    height: 325px;
    position: relative;
    right: 0px;
    height: 260.5px;
}

.too3{
    background: url('bg2.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.too4{
    background: url('bg1.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.souteAndShop p:nth-child(1) {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    bottom: 15px;
}

.outilAndShop p:nth-child(1) {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    bottom: 15px;
}
.shopOfSoute {
    position: relative;
    top: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.shopOfSoute:hover {
    color: rgb(0, 102, 255);
}
.textShop {
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.from {
    
    font-size: 12.7px;
    cursor: pointer;
}
.textShop:hover {
    color: rgb(0, 102, 255);
}
.img_comment{
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
    top: 30px;
}
.trait{
    height: 2px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    margin-top:-120px;
    margin-bottom: 20px;
    background-color: rgba(84, 95, 99, 0.514);
    border-radius: 50%;
}
.T1{
 background: url('bground5.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 47%;
 height: 100%;
 position: relative;
 left: 0px;
}
.T1 img{
    margin-top: 10px;
    width: 48%;
    height: 50%;
}
.T2{
 background: url('bground5.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 50%;
 height: 49.5%;
 position: relative;
 left: 22px;
}
.T2 img{
    margin-top: 10px;
    margin-left: 100px;
    width: 30%;
    height: 60%;

}
.T3{
 background: url('bground5.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 50%;
 height: 49%;
 position: relative;
 left: 356px;
 top:-252px;
}
.T3 img{
    margin-top: 10px;
    margin-left: 100px;
    width: 25%;
    height: 50%;
    margin-bottom: 15px;
}
.TT1 img{
    margin-top: 10px;
    width:50%;
    height: 50%;
    position: relative;
    top: 10px;
    left: 35px;
}
.section{
    width: 95%;
    background-color: royalblue;
    height:28px;
    margin-left:auto ;
    margin-right: auto;
    border: solid blue 1px;
    margin-bottom: 15px;
    padding: 5px;
}
.nouveauté{
 font-size:20px;
 margin-top: auto;
 margin-bottom: auto;
 color: white;
 text-transform: uppercase;
}
.img_comment {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px ;
    width: 350px;
    margin: 30px;
    float: left;

}
.grand_img .img_comment img {
    position: relative;
    width: 70%;
    height: 300px;
    border:solid 1px yellowgreen;
    margin-right: 10px;
}
.solid_line{
    display: flex;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

.traits_1{
 width:50%;
 height: 3px;
 background-color: skyblue;
border-radius: 50%;
}
.trait_2{
    height: 1px;
    width: 98%;
    display: inline-block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(83, 83, 75, 0.493);
}
.points{
    width: 5px;
    height: 5px;
    border-radius: 50%;
 background-color:rgb(21, 179, 241);
 border: solid rgba(19, 223, 36, 0.527) 0.7px;
margin-left:10px ;
margin-right: 10px;
}
.traits_2{
    width: 50%;
    height: 3px;
 background-color: skyblue;
border-radius: 50%;
}
.Titles{
    margin-top: -75px;
    margin-bottom: -7px;
    margin-left:auto;
    margin-right:auto;
    padding-left:25px;
    letter-spacing: 2.5px;
    text-transform:uppercase;
    color: rgb(5, 5, 5);
    font-size: 15px;
    text-align: left;
    width:100%;
}
.Titles_2{
    margin-top: 20px;
    margin-bottom: -7px;
    margin-left:auto;
    margin-right:auto;
    padding-left:25px;
    letter-spacing: 2.5px;
    text-transform:uppercase;
    color: rgb(5, 5, 5);
    font-size: 15px;
    text-align: left;
    width:100%;
}
.voir{
    float: right;
    text-decoration: none;
    letter-spacing: 0px;
    color: rgb(126, 173, 16);
    margin-right: 10px;
}
.voir:hover{
    cursor: pointer;
    font-weight: 600;
    transition: 500ms ease-in-out;
}
@media screen and (max-width:900px) {
    .sliders {
        width: 100%;
        height: 350px;
        position: relative;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;
      /*  overflow-x: auto;*/

    }
}

    @media screen and (max-width:1210px) {
    .grand_img{
        width: 100%;
    }
    .buttoons{
        margin-bottom: 10px;
    
    }
        .grand_img .img_comment{
            margin-left: auto;
            margin-right: auto;

        }
       .seconde .img_comment {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height:200px ;
            width: 350px;
            margin: 30px;
            float: left;
            
            padding: 0px;
        }
    }
    @media screen and (max-width:1000px) {
        .grand_img{
            width: 100%;
        }
        .grand_img .img_comment{
                margin-left: auto;
                margin-right: auto;
    
            }
        .seconde_classe .img_comment {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height:200px ;
                width: 355px;
                margin: 30px;
                float: left;
            }

        
        .sliders {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: rgb(189, 170, 170) solid 1px;
}
        .slide{
                float: right;
                height: 400px;
                width:1000px;
                display: flex;
} 
.slider{
    width: 3000px;
    animation: coulisse 20s infinite;
}

        .HP{
            font-weight: bold;
            font-size:60px;
            color: white;
        }
        .Phantom{
            font-weight:bold;
            font-size: 60px;
            color: rgb(13, 82, 233);
            
        }
     .cartes{ 
         margin-bottom: auto;
         margin-top: auto;
        margin-right:auto;
        margin-left: auto;
        position: relative;
        left:00px;
        width: 35%;
        height: 63%;
    }
        .Mades{
            font-size: 85px;
            color: rgba(253, 9, 9, 0.986);
            font-weight: 400;
        }
        .Tech{
            font-size: 65px;
            color: rgb(243, 16, 8);
            font-weight: 400;
            margin-left: -40px;
        }
    
        @keyframes coulisse {
            0%{
                transform: translateX(0);
            }
            10%{
                transform: translateX(0);
            }
            33%{
                transform: translateX(-1000px);
            }
            43%{
                transform: translateX(-1000px);
            }
            66%{
                transform: translateX(-2000px);
            }
            76%{
                transform: translateX(-2000px);
            }
            100%{
                transform: translateX(0);
            }
        }
    }
      
  @media screen and (max-width:500px) {
            .seconde_classe .img_comment {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height:200px ;
                width: 350px;
                margin-top: 30px;
                float: left;
                background-color:red;
                left:0px;
                
            }
        }
@media screen and (max-width:780px) {
    .HP{
        margin-top: 75px;
        font-weight: bold;
        font-size:48px;
        color: white;
    }
    .Phantom{
        font-weight:bold;
        font-size: 53px;
        color: rgb(13, 82, 233);
        
    }
 .cartes{ 
     margin-bottom: auto;
     margin-top: auto;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    left:00px;
    width: 35%;
    height: 63%;
}

    .Mades{
        font-size: 58px;
        color: rgba(253, 9, 9, 0.986);
        font-weight: 400;
    }
    .Tech{
        font-size: 35px;
        color: rgb(243, 16, 8);
        font-weight: 400;
        margin-left: -40px;
    }
    .sliders {
        width: 100%;
        height: 375px;
        position: relative;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;

    }
    .slide{
    float: right;
    height: 375px;
    width: 780px;
    }
    .slider{
        width: 2340px;
        animation: coulisse 25s infinite;
    }

    @keyframes coulisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-780px);
        }
        43%{
            transform: translateX(-780px);
        }
        66%{
            transform: translateX(-1560px);
        }
        76%{
            transform: translateX(-1560px);
        }
        100%{
            transform: translateX(0);
        }
    }

}
@media screen and (max-width:750px) {
    
.Titles{
    margin-top: -55px;
}
}
@media screen and (max-width:505px) {  
    .Titles{
        position:relative;
       top: 145px;
       margin-bottom: 135px;
       margin-right: auto;
       margin-left: auto;
        
    }
    .listTitle {
        margin-bottom: 50px;
    }
    }
@media screen and (max-width:650px) {
    
.Titles{
    margin-top: 10px;

}
    .sliders {
        width: 100%;
        height: 400px;
        position: relative;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;

    }
    .slide{
    float: right;
    height: 400px;
    width: 650px;
    }
    .slider{
        width: 1950px;
        animation: coulisse 25s infinite;
    }
    @keyframes coulisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-650px);
        }
        43%{
            transform: translateX(-650px);
        }
        66%{
            transform: translateX(-1300px);
        }
        76%{
            transform: translateX(-1300px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .grand_titre {
        position: relative;
        margin-top: 50px;
        width: 100%;
        height: 90px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
   
    .grand_titre .listTitle li {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size:12.5px;
        margin: 0 0;
        padding: 5px 5px;
        border: 0.5px solid rgba(0, 183, 255, 0.397);
        text-transform: capitalize;
        color: #1d1a1a;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width:100%;
    }

}



@media screen and (max-width:615px){
    .grand_titre .listTitle li {
        font-size: 8.1px;
        padding:0px 0px;
    }
    #soutesText {
        margin-top: -5px;
    }
    .grand_titre .listTitle li p{
        margin-top: -14px;
    }
}
@media screen and (max-width:570px) {
    
.HP{
    margin-top: 15px;
    font-weight: bold;
    font-size:48px;
    color: white;
}
.Phantom{
    font-weight:bold;
    font-size: 53px;
    color: rgb(13, 82, 233);
    
}
.tiitre{
    display: flex;
}
.cartes{ 
 margin-bottom: auto;
 margin-top: -40px;
margin-right:auto;
margin-left: auto;
position: relative;
left:00px;
width: 25%;
height: 43%;
}

.Mades{
    font-size: 58px;
    color: rgba(253, 9, 9, 0.986);
    font-weight: 400;
}
.Tech{
    font-size: 35px;
    color: rgb(243, 16, 8);
    font-weight: 400;
    margin-left: -40px;
}
.sliders {
    width: 100%;
    height: 375px;
    position: relative;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: rgb(189, 170, 170) solid 1px;

}
.slide{
float: right;
height: 375px;
width: 780px;
display: flex;
flex-direction:column ;
}
.slider{
    width: 2340px;
    animation: coulisse 25s infinite;

}

@keyframes coulisse {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-780px);
    }
    43%{
        transform: translateX(-780px);
    }
    66%{
        transform: translateX(-1560px);
    }
    76%{
        transform: translateX(-1560px);
    }
    100%{
        transform: translateX(0);
    }
}

}


@media screen and (max-width:450px){
    .grand_titre .listTitle li {
        font-size: 8.1px;
        padding:0px 0px;
    }
    #soutesText {
        margin-top: -3px;
    }
    .grand_titre .listTitle li p{
        margin-top: -14px;
    }
    .HP{
        margin-top: 10px;
        font-weight: bold;
        font-size:48px;
        color: white;
    }
    .Phantom{
        font-weight:bold;
        font-size: 43px;
        color: rgb(13, 82, 233);
        
    }
 .cartes{ 
     margin-bottom: auto;
     margin-top: 15px;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    left:00px;
    width:60%;
    height: 55%;
}

    .Mades{
        font-size: 38px;
        color: rgba(253, 9, 9, 0.986);
        font-weight: 400;
    }
    .Tech{
        font-size: 25px;
        color: rgb(243, 16, 8);
        font-weight: 400;

    }
    .sliders {
        width: 100%;
        height: 375px;
        position: relative;
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;

    }
    .slide{
    float: right;
    height: 375px;
    width: 450px;
    text-align: center;
    }
    .slider{
        width: 1350px;
        animation: coulisse 25s infinite;
    }

    @keyframes coulisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-450px);
        }
        43%{
            transform: translateX(-450px);
        }
        66%{
            transform: translateX(-900px);
        }
        76%{
            transform: translateX(-900px);
        }
        100%{
            transform: translateX(0);
        }
    }

}

@media screen and (max-width:360px){
    .grand_titre .listTitle li {
        font-size: 7.1px;
        padding:0px 0px;
        
    }

}


@media screen and (max-width:450px) {
    .sliders {
        width: 100%;
        height: 420px;
        position: relative;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;

    }
    .slide{
    float: right;
    height: 420px;
    width: 450px;
    }
    .slider{
        width: 1350px;
        animation: coulisse 25s infinite;
    }

    @keyframes coulisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-450px);
        }
        43%{
            transform: translateX(-450px);
        }
        66%{
            transform: translateX(-900px);
        }
        76%{
            transform: translateX(-900px);
        }
        100%{
            transform: translateX(0);
        }
    }

}
@media screen and (max-width:300px) {
    .HP{
        margin-top: 0px;
        font-weight: bold;
        font-size:35px;
        color: white;
    }
    .tiitre{
        margin-left: -45px;
        margin-right: auto;
    }
    .Phantom{
        font-weight:bold;
        font-size: 40px;
        color: rgb(13, 82, 233);
        
    }
 .cartes{ 
     margin-bottom: auto;
     margin-top: auto;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    left:00px;
    width: 65%;
    height: 53%;
}

    .Mades{
        font-size: 45px;
        color: rgba(253, 9, 9, 0.986);
        font-weight: 400;
        margin-left: 25px;
    }
    .Tech{
        font-size: 22px;
        color: rgb(243, 16, 8);
        font-weight: 400;
        margin-left: 25px;

    }
    .sliders {
        width: 100%;
        height: 375px;
        position: relative;
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: rgb(189, 170, 170) solid 1px;

    }
    .slide{
    float: right;
    height: 375px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
    .slider{
        width: 900px;
        animation: coulisse 25s infinite;
    }

    @keyframes coulisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-300px);
        }
        43%{
            transform: translateX(-300px);
        }
        66%{
            transform: translateX(-600px);
        }
        76%{
            transform: translateX(-600px);
        }
        100%{
            transform: translateX(0);
        }
    }

}
 